@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');



.header {
    color: black;
    font-family: 'Borel', cursive;
    align-items: center;
    text-align: center;

    
     
} 